body {
    font-family: 'Roboto', Arial, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo_WebStudio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
}  


.Studio{
    color: #2e2f42;
}

.Nav_Studio {
    font-weight: 500;
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.Nav_Studio:hover {
    color: #404bbf;
}
.Nav_Studio:focus{
    color: #404bbf;
}



 

.Portfolio {
    font-weight: 500;
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.Portfolio:hover {
    color: #404bbf;
}
.Portfolio:focus{
    color: #404bbf;
}



.Contacts {
    font-weight: 500;
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.Contacts:hover {
    color: #404bbf;
}
.Contacts:focus{
    color: #404bbf;
}


.address {
    font-style: normal;
}

.email {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}

.email:hover {
    color: #404bbf;
}

.email:focus {
    color: #404bbf;
}


.phone {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}

.phone:hover {
    color: #404bbf;
}

.phone:focus {
    color: #404bbf;
}

.nav_container_under {
    background-color: #2e2f42;
}

.h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.Button {
    background-color: #4D5AE5;
    font-family: "Roboto" , sans-serif;
    font-weight: 500;
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.Button:hover {
    background-color:  #404BBF;
}

.Button:focus {
    background-color:  #404BBF;
}


.strategy {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.strategy_paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.punctuality {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.punctuality_paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.diligence {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.diligence_paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.technologies {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.technologies_paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.Our_Team {
    background-color: #f4f4fd;
}

.Our_Team_h2 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.002em;
    text-transform: capitalize;
    color:  #2e2f42;
}

.Mark_Guerrero {
    background-color: #FFFFFF;
}

.Mark_Guerrero_h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 0.002em;
    color: #2e2f42;
}

.Mark_Guerrero_paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.Tom_Ford {
    background-color: #FFFFFF;
}

.Tom_Ford_h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 0.002em;
    color: #2e2f42;
}

.Tom_Ford_paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.Camila_Garcia {
    background-color: #FFFFFF;
}

.Camila_Garcia_h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 0.002em;
    color: #2e2f42;
}

.Camila_Garcia_paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.Daniel_Wilson {
    background-color: #FFFFFF;
}

.Daniel_Wilson_h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 0.002em;
    color: #2e2f42;
}

.Daniel_Wilson_paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.Our_Portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.Banking_app_h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.App_paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.Cashless_Payment_h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.Marketing_paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.Meditation_App_h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.Meditation_App_paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.Taxi_Service_h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.Taxi_Service_paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.Screen_Illustrations_h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.Design_paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.Online_Courses_h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.Online_Courses_paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.footer {
    color:  #2e2f42;
}

.logo_WebStudio_footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
}  


.Studio_footer {
    color: #2e2f42;
}

.footer_paragraf {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}